* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
.title {
    margin-bottom: 20px;
    text-align: center;
}
.slider {
    margin-bottom: 40px;
    position: relative;
}
.slider .item {}
.slider .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
}
.slider .slick-prev,
.slider .slick-next {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    opacity: 1;
    transition: background-color .3s ease;
}
.slider .slick-prev:hover,
.slider .slick-next:hover {
    background-color: #74849d;
}
.slider .slick-dots {
    display: flex !important;
}
.slider .slick-dots li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    transition: background-color .3s ease;
    cursor: pointer;
    margin-right: 10px;
}
.slider .slick-dots li:hover {
    background-color: #74849d;
}
.slider .slick-dots button {
    border: none;
    background-color: transparent;
}

/*Стилизация*/
/* Slider 1 */
.slider.single-item .slick-prev,
.slider.single-item .slick-next {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.slider.single-item .slick-prev {
    left: 10px;
}
.slider.single-item .slick-next {
    right: 10px;
}

/* Slider 2 */
.slider.multiple-items {
    padding-bottom: 100px;
}
.slider.multiple-items .slick-prev,
.slider.multiple-items .slick-next {
    bottom: 0;
}
.slider.multiple-items .item {
    padding: 0 20px;
}
.slider.multiple-items .image {
    height: 300px;
}


/* Slider 3 */
